# ignore files generated during run
analysis/.snakemake/
analysis/slurm/slurm_output/
analysis/brieflow_output/

# param_* subfolders in analysis
analysis/param_*/

# dotenv
analysis/.env

# debug logs
analysis/debug/