
# ~BrieFlow analysis configuration file~

# All paths are resolved relative to the directory the workflow is run from.

# Parameters:
all:
  root_fp: brieflow_output/
preprocess:
  sbs_samples_fp: config/sbs_samples.tsv
  sbs_combo_fp: config/sbs_combo.tsv
  phenotype_samples_fp: config/phenotype_samples.tsv
  phenotype_combo_fp: config/phenotype_combo.tsv
  sbs_data_format: tiff
  sbs_data_organization: tile
  sbs_channel_order:
  - 405_nm_Ex
  - 561_nm_Ex_-_1
  - 561_nm_Ex_-_2
  - 638_nm_Ex_-_1
  - 638_nm_Ex_-_2
  sbs_channel_order_flip: false
  sbs_n_z_planes: 1
  sbs_metadata_samples_df_fp: config/sbs_metadata_samples.tsv
  phenotype_data_format: tiff
  phenotype_data_organization: tile
  phenotype_channel_order:
  - 405_nm
  - 488_nm
  - 561_nm
  - 638_nm
  phenotype_channel_order_flip: false
  phenotype_round_order:
  - 1
  phenotype_n_z_planes: 1
  phenotype_metadata_samples_df_fp: config/phenotype_metadata_samples.tsv
  sample_fraction: 0.1
phenotype:
  foci_channel_index: null
  channel_names:
  - Hoescht
  - COX4
  - AGP
  - ConA
  align: null
  dapi_index: 0
  cyto_index: 2
  segmentation_method: cellpose
  reconcile: contained_in_cells
  gpu: false
  cp_method: cp_multichannel
  nuclei_diameter: 37.25360132569531
  cell_diameter: 67.31611383584443
  nuclei_flow_threshold: 0.4
  nuclei_cellprob_threshold: 0.0
  cell_flow_threshold: 1
  cell_cellprob_threshold: 0
  cellpose_model: cyto3
sbs:
  upsample_factor: 8
  error_correct: true
  window: 16
  cell_diameter:
    1: 22.22649192646566
    2: 19.149229459268767
  segment_cells: true
  gpu: false
  spot_detection_method: standard
  extra_channel_indices:
  - 0
  dapi_cycle: 2
  nuclei_cellprob_threshold: 0.0
  peak_width: 17
  manual_cycle_offsets:
    1:
      A1:
        0:
        - 0
        - 0
        1:
        - 94
        - 38
        2:
        - -32
        - -27
        3:
        - 61
        - -49
        4:
        - 65
        - -37
        5:
        - 73
        - -32
        6:
        - 79
        - -37
        7:
        - 77
        - -30
        8:
        - 72
        - -30
        9:
        - 70
        - -30
        10:
        - 70
        - -30
        11:
        - 72
        - -30
      A2:
        0:
        - 0
        - 0
        1:
        - 80
        - 45
        2:
        - 13
        - -26
        3:
        - 47
        - -37
        4:
        - 50
        - -27
        5:
        - 53
        - -22
        6:
        - 59
        - -26
        7:
        - 59
        - -20
        8:
        - 59
        - -23
        9:
        - 59
        - -23
        10:
        - 59
        - -23
        11:
        - 59
        - -23
      A3:
        0:
        - 0
        - 0
        1:
        - 51
        - 43
        2:
        - 166
        - 94
        3:
        - 64
        - -2
        4:
        - 9
        - -19
        5:
        - 28
        - -16
        6:
        - 28
        - -18
        7:
        - 28
        - -19
        8:
        - 199
        - 98
        9:
        - 38
        - -7
        10:
        - 29
        - -15
        11:
        - 28
        - -16
      B1:
        0:
        - 0
        - 0
        1:
        - 105
        - 77
        2:
        - 480
        - 222
        3:
        - 107
        - -1
        4:
        - 85
        - 5
        5:
        - 91
        - 13
        6:
        - 109
        - 14
        7:
        - 99
        - 18
        8:
        - 127
        - 21
        9:
        - 120
        - 20
        10:
        - 118
        - 25
        11:
        - 118
        - 25
      B2:
        0:
        - 0
        - 0
        1:
        - 75
        - 80
        2:
        - 396
        - 322
        3:
        - 169
        - 97
        4:
        - 54
        - 18
        5:
        - 63
        - 22
        6:
        - 72
        - 30
        7:
        - 65
        - 24
        8:
        - 436
        - 337
        9:
        - 96
        - 38
        10:
        - 76
        - 35
        11:
        - 76
        - 35
      B3:
        0:
        - 0
        - 0
        1:
        - 45
        - 80
        2:
        - 159
        - 407
        3:
        - 59
        - 134
        4:
        - 15
        - 28
        5:
        - 24
        - 30
        6:
        - 28
        - 33
        7:
        - 25
        - 29
        8:
        - 197
        - 456
        9:
        - 38
        - 77
        10:
        - 22
        - 42
        11:
        - 22
        - 42
    2:
      A1:
        0:
        - 0
        - 0
        1:
        - 4
        - 12
        2:
        - 20
        - 32
        3:
        - -11
        - 26
        4:
        - 21
        - 24
        5:
        - 0
        - 18
        6:
        - 14
        - 22
        7:
        - 379
        - 72
        8:
        - 16
        - 22
        9:
        - 16
        - 22
        10:
        - 16
        - 22
        11:
        - 16
        - 22
      A2:
        0:
        - 0
        - 0
        1:
        - 6
        - 10
        2:
        - -7
        - 30
        3:
        - -22
        - 27
        4:
        - -6
        - 24
        5:
        - -4
        - 18
        6:
        - 3
        - 18
        7:
        - 212
        - 61
        8:
        - 6
        - 17
        9:
        - 6
        - 17
        10:
        - 6
        - 17
        11:
        - 5
        - 19
      A3:
        0:
        - 0
        - 0
        1:
        - 9
        - 10
        2:
        - 99
        - 159
        3:
        - 3
        - 59
        4:
        - -24
        - 29
        5:
        - 1
        - 16
        6:
        - 136
        - 147
        7:
        - 34
        - 47
        8:
        - 1
        - 20
        9:
        - -1
        - 22
        10:
        - -1
        - 20
        11:
        - -1
        - 20
      B1:
        0:
        - 0
        - 0
        1:
        - 5
        - 8
        2:
        - 244
        - 179
        3:
        - 17
        - 52
        4:
        - 17
        - 54
        5:
        - 23
        - 34
        6:
        - 405
        - 241
        7:
        - 29
        - 31
        8:
        - 16
        - 31
        9:
        - 11
        - 33
        10:
        - 12
        - 33
        11:
        - 12
        - 33
      B2:
        0:
        - 0
        - 0
        1:
        - 7
        - 10
        2:
        - 382
        - 436
        3:
        - 85
        - 141
        4:
        - -6
        - 50
        5:
        - 9
        - 30
        6:
        - 406
        - 406
        7:
        - 104
        - 117
        8:
        - 5
        - 27
        9:
        - 5
        - 27
        10:
        - 4
        - 26
        11:
        - 4
        - 26
      B3:
        0:
        - 0
        - 0
        1:
        - 4
        - 10
        2:
        - 94
        - 467
        3:
        - 0
        - 149
        4:
        - -28
        - 55
        5:
        - -3
        - 30
        6:
        - 129
        - 446
        7:
        - 29
        - 131
        8:
        - -5
        - 30
        9:
        - -7
        - 29
        10:
        - -7
        - 26
        11:
        - -8
        - 29
  dapi_index: 0
  reconcile: contained_in_cells
  df_barcode_library_fp: config/barcode_library.tsv
  channel_names:
  - DAPI
  - G
  - T
  - A
  - C
  segmentation_method: cellpose
  nuclei_flow_threshold: 0.4
  nuclei_diameter:
    1: 9.373021315815206
    2: 10.645107772184812
  threshold_peaks: 125
  bases:
  - G
  - T
  - A
  - C
  prefix_col: prefix
  barcode_col: sgRNA
  cyto_cycle_index: 11
  manual_background_cycle_index: null
  alignment_method: sbs_mean_rotation
  dapi_cycle_index: 1
  cell_flow_threshold: 1
  max_filter_width: 3
  cyto_cycle: 12
  barcode_type: simple
  manual_channel_mapping: null
  call_reads_method: percentile
  q_min: 0
  max_distance: 2
  cellpose_model: cyto3
  cell_cellprob_threshold: 0
  cyto_index:
    1: 3
    2: 1
  skip_cycles_indices: null
  sort_calls: peak
merge:
  approach: fast
  merge_combo_fp: config/merge_combo.tsv
  sbs_metadata_cycle: 1
  score: 0.1
  threshold: 10
  sbs_metadata_channel: null
  ph_metadata_channel: null
  alignment_flip_x: false
  alignment_flip_y: false
  alignment_rotate_90: false
  sbs_dedup_prior:
    mapped_single_gene: false
    fov_distance_1: true
  pheno_dedup_prior:
    fov_distance_0: true
  phenotype_dimensions:
  - 2084
  - 2084
  sbs_dimensions:
  - 4168
  - 4168
  initial_sites:
    1:
      A3:
      - - 90
        - 10
      - - 105
        - 13
      - - 256
        - 18
      - - 461
        - 28
      - - 456
        - 27
      - - 491
        - 34
      - - 688
        - 39
      - - 718
        - 45
      - - 920
        - 49
      - - 955
        - 56
      - - 1156
        - 60
      - - 1181
        - 65
      - - 1371
        - 70
      - - 1391
        - 74
      - - 1573
        - 82
      A2:
      - - 90
        - 10
      - - 105
        - 13
      - - 256
        - 18
      - - 461
        - 28
      - - 456
        - 27
      - - 491
        - 34
      - - 688
        - 39
      - - 718
        - 45
      - - 915
        - 49
      - - 950
        - 56
      - - 1146
        - 60
      - - 1381
        - 74
      - - 1563
        - 82
      A1:
      - - 90
        - 10
      - - 105
        - 13
      - - 256
        - 18
      - - 461
        - 28
      - - 456
        - 27
      - - 491
        - 34
      - - 723
        - 45
      - - 925
        - 49
      - - 960
        - 56
      - - 1156
        - 60
      - - 1181
        - 65
      - - 1371
        - 70
      - - 1391
        - 74
      - - 1573
        - 82
      B1:
      - - 90
        - 10
      - - 105
        - 13
      - - 256
        - 18
      - - 461
        - 28
      - - 456
        - 27
      - - 491
        - 34
      - - 693
        - 39
      - - 723
        - 45
      - - 925
        - 49
      - - 960
        - 56
      - - 1156
        - 60
      - - 1181
        - 65
      - - 1391
        - 74
      - - 1573
        - 82
      B2:
      - - 90
        - 10
      - - 105
        - 13
      - - 256
        - 18
      - - 461
        - 28
      - - 456
        - 27
      - - 491
        - 34
      - - 688
        - 39
      - - 718
        - 45
      - - 915
        - 49
      - - 950
        - 56
      - - 1146
        - 60
      - - 1171
        - 65
      - - 1381
        - 74
      - - 1563
        - 82
      B3:
      - - 90
        - 10
      - - 105
        - 13
      - - 256
        - 18
      - - 461
        - 28
      - - 456
        - 27
      - - 491
        - 34
      - - 688
        - 39
      - - 718
        - 45
      - - 920
        - 49
      - - 955
        - 56
      - - 1156
        - 60
      - - 1181
        - 65
      - - 1371
        - 70
      - - 1391
        - 74
      - - 1573
        - 82
    2:
      B2:
      - - 90
        - 10
      - - 105
        - 13
      - - 256
        - 18
      - - 461
        - 28
      - - 456
        - 27
      - - 491
        - 34
      - - 688
        - 39
      - - 718
        - 45
      - - 915
        - 49
      - - 950
        - 56
      - - 1146
        - 60
      - - 1171
        - 65
      - - 1381
        - 74
      - - 1563
        - 82
      B3:
      - - 90
        - 10
      - - 105
        - 13
      - - 256
        - 18
      - - 456
        - 27
      - - 491
        - 34
      - - 718
        - 45
      - - 920
        - 49
      - - 955
        - 56
      - - 1156
        - 60
      - - 1181
        - 65
      - - 1371
        - 70
      - - 1391
        - 74
      - - 1573
        - 82
      A3:
      - - 90
        - 10
      - - 105
        - 13
      - - 256
        - 18
      - - 461
        - 28
      - - 456
        - 27
      - - 491
        - 34
      - - 688
        - 39
      - - 718
        - 45
      - - 920
        - 49
      - - 955
        - 56
      - - 1156
        - 60
      - - 1181
        - 65
      - - 1371
        - 70
      - - 1391
        - 74
      - - 1573
        - 82
      A2:
      - - 90
        - 10
      - - 105
        - 13
      - - 256
        - 18
      - - 461
        - 28
      - - 456
        - 27
      - - 491
        - 34
      - - 688
        - 39
      - - 718
        - 45
      - - 915
        - 49
      - - 950
        - 56
      - - 1146
        - 60
      - - 1171
        - 65
      - - 1381
        - 74
      - - 1563
        - 82
      B1:
      - - 90
        - 10
      - - 105
        - 13
      - - 256
        - 18
      - - 461
        - 28
      - - 456
        - 27
      - - 491
        - 34
      - - 693
        - 39
      - - 723
        - 45
      - - 925
        - 49
      - - 960
        - 56
      - - 1156
        - 60
      - - 1181
        - 65
      - - 1371
        - 70
      - - 1573
        - 82
      A1:
      - - 90
        - 10
      - - 105
        - 13
      - - 256
        - 18
      - - 461
        - 28
      - - 456
        - 27
      - - 491
        - 34
      - - 723
        - 45
      - - 925
        - 49
      - - 960
        - 56
      - - 1156
        - 60
      - - 1181
        - 65
      - - 1371
        - 70
      - - 1391
        - 74
      - - 1573
        - 82
  det_range:
  - 0.1475
  - 0.1675
aggregate:
  metadata_cols_fp: config/cell_data_metadata_cols.tsv
  collapse_cols: null
  classifier_path: null
  aggregate_combo_fp: config/aggregate_combo.tsv
  filter_queries:
  - mapped_single_gene == True
  perturbation_name_col: gene_symbol_0
  drop_cols_threshold: 0.01
  drop_rows_threshold: 0.01
  impute: true
  contamination: 0.01
  batch_cols:
  - plate
  - well
  control_key: nontargeting_intergenic_
  perturbation_id_col: cell_barcode_0
  variance_or_ncomp: 0.99
  num_align_batches: 1
  agg_method: median
  skip_perturbation_score: true
  ps_probability_threshold: null
  ps_percentile_threshold: null
  feature_normalization: mad
  num_sims: 10000
  exclusion_string: null
  bootstrap_combinations:
  - cell_class: all
    channel_combo: Hoescht_COX4_AGP_ConA
  pseudogene_patterns:
    nontargeting_noncutting:
      pattern: ^nontargeting_noncutting_
      constructs_per_pseudogene: 2
    nontargeting_intergenic:
      pattern: ^nontargeting_intergenic_
      constructs_per_pseudogene: 2
    olfactory_receptors:
      pattern: ^nontargeting_or_
      constructs_per_pseudogene: 2
cluster:
  min_cell_cutoffs:
    all: 10
  phate_distance_metric: cosine
  perturbation_auc_threshold: null
  uniprot_data_fp: config/benchmark_clusters/uniprot_data.tsv
  string_pair_benchmark_fp: config/benchmark_clusters/string_pair_benchmark.tsv
  corum_group_benchmark_fp: config/benchmark_clusters/corum_group_benchmark.tsv
  kegg_group_benchmark_fp: config/benchmark_clusters/kegg_group_benchmark.tsv
  standard_clustering:
    enabled: true
    cluster_combo_fp: config/cluster_combo.tsv
  filtered_clustering:
    enabled: true
    cluster_filtered_combo_fp: config/cluster_filtered_combo.tsv
    significant_genes_fp: config/significant_genes.tsv
