
# ~BrieFlow analysis configuration file~

# All paths are resolved relative to the directory the workflow is run from.

# Parameters:
all:
  root_fp: brieflow_output/
preprocess:
  sbs_samples_fp: config/sbs_samples.tsv
  sbs_combo_fp: config/sbs_combo.tsv
  phenotype_samples_fp: config/phenotype_samples.tsv
  phenotype_combo_fp: config/phenotype_combo.tsv
  sbs_data_format: null
  sbs_data_organization: null
  sbs_channel_order: null
  sbs_channel_order_flip: false
  sbs_n_z_planes: null
  sbs_metadata_samples_df_fp: null
  phenotype_data_format: tiff
  phenotype_data_organization: tile
  phenotype_channel_order:
  - 405_nm
  - 488_nm
  - 561_nm
  - 638_nm
  phenotype_channel_order_flip: false
  phenotype_round_order:
  - 1
  phenotype_n_z_planes: 1
  phenotype_metadata_samples_df_fp: config/phenotype_metadata_samples.tsv
  sample_fraction: 0.1
